{% comment %}
  Renders variant options
  Accepts:
  - option: {Object}
  - product: {Object}
  - block: {Object}
  - picker_type: {String} "swatch", "button", etc.
{% endcomment %}
{%- for value in option.values -%}
  {%- assign downcased_option = option.name | downcase -%}
  {%- assign image_url = '' -%}

  {%- if downcased_option == 'color' -%}
    {%- case value -%}
      {%- when 'Gray Camel' -%}
        {% assign image_url = 'https://cdn.shopify.com/s/files/1/0906/5388/4802/files/Padelism_GrAD_2_-_Gray_Camel.png?v=1745079967' %}
      {%- when 'Navy' -%}
        {% assign image_url = 'https://cdn.shopify.com/s/files/1/0906/5388/4802/files/Padelism_GrAD_2_-_Navy.png?v=1745079949' %}
      {%- when 'Sand Color' -%}
        {% assign image_url = 'https://cdn.shopify.com/s/files/1/0906/5388/4802/files/Padelism_GrAD_2_-_Sand_Color.png?v=1745079773' %}
      {%- when 'Oat Gray' -%}
        {% assign image_url = 'https://cdn.shopify.com/s/files/1/0906/5388/4802/files/Padelism_GrAD_2_-_Oat_Grey.png?v=1745079752' %}
      {%- when 'Black' -%}
        {% assign image_url = 'https://cdn.shopify.com/s/files/1/0906/5388/4802/files/Padelism_GrAD_2_-_Black.png?v=1745079737' %}
      {%- when 'White' -%}
        {% assign image_url = 'https://cdn.shopify.com/s/files/1/0906/5388/4802/files/Padelism_GrAD_2_-_White.png?v=1745079912' %}
    {%- endcase -%}
  {%- endif -%}

  <input
    type="radio"
    id="{{ option.name | append: '-' | append: value | handle }}"
    name="options[{{ option.name }}]"
    value="{{ value | escape }}"
    form="{{ product_form_id }}"
    class="variant__input"
    {% if option.selected_value == value %}checked{% endif %}
  >
  <label for="{{ option.name | append: '-' | append: value | handle }}"
         class="variant__label">
    {% if image_url != '' %}
      <img src="{{ image_url }}" alt="{{ value }}" style="width: 40px; height: 40px; object-fit: cover; border-radius: 4px;">
    {% else %}
      {{ value }}
    {% endif %}
  </label>
{%- endfor -%}
